* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

.showInput {
  display: block !important;
  transition: 1s; }

.createBorder {
  border: 1px solid white;
  padding: 5px;
  transition: 1s; }

.header {
  position: absolute;
  width: 100%;
  display: flex;
  padding: 20px 35px;
  justify-content: space-between;
  align-items: center;
  z-index: 5; }
  .header .headerLeft {
    display: flex;
    align-items: center;
    color: white;
    gap: 50px;
    font-size: 14px; }
    .header .headerLeft .navbar {
      display: flex;
      list-style: none;
      gap: 14px;
      font-weight: 500; }
      .header .headerLeft .navbar li {
        cursor: pointer; }
  .header .headerRight {
    display: flex;
    align-items: center;
    gap: 50px;
    color: white;
    font-size: 20px; }
    .header .headerRight .search {
      display: flex;
      align-items: center;
      gap: 10px; }
      .header .headerRight .search i {
        cursor: pointer; }
      .header .headerRight .search input {
        outline: none;
        border: none;
        padding: 5px;
        background: none;
        color: white;
        display: none; }
  .header .logo {
    max-width: 80px; }
    .header .logo img {
      width: 100%;
      height: auto;
      object-fit: cover; }
  .header .avatarImg {
    max-width: 30px; }
    .header .avatarImg img {
      width: 100%;
      height: auto;
      object-fit: cover; }

.scrolledHeader {
  position: fixed;
  background-color: #111111;
  transition: 1s; }

.banner {
  background: url(../images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh;
  background-size: cover;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  gap: 10px;
  box-shadow: inset 0 8px 16px rgba(0, 0, 0, 0.5); }
  .banner .bannerTitle h2 {
    font-size: 3rem;
    font-weight: 800; }
  .banner .bannerButtons {
    display: flex;
    gap: 10px;
    align-items: center; }
    .banner .bannerButtons button {
      padding: 8px 10px;
      outline: none;
      border: none;
      color: white;
      font-weight: 600;
      background-color: rgba(215, 183, 183, 0.15);
      cursor: pointer; }
  .banner .bannerDescription {
    max-width: 390px;
    font-weight: 600;
    font-size: 12px; }

.topMovies,
.forYourMovies {
  padding: 10px;
  background: #111111;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px; }
  .topMovies h2,
  .forYourMovies h2 {
    font-size: 24px; }
  .topMovies .topMovieCards,
  .forYourMovies .topMovieCards {
    padding: 7px 20px;
    overflow-x: auto;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: flex-start; }
  .topMovies .topMovieCards::-webkit-scrollbar,
  .forYourMovies .topMovieCards::-webkit-scrollbar {
    display: none; }
  .topMovies .topMovieCard,
  .forYourMovies .topMovieCard {
    flex: 0 0 auto;
    width: 166px;
    text-decoration: none;
    color: white;
    height: 250px;
    overflow: hidden;
    cursor: pointer; }
    .topMovies .topMovieCard img,
    .forYourMovies .topMovieCard img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .topMovies .topMovieCard .movieInfo,
    .forYourMovies .topMovieCard .movieInfo {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-decoration: none;
      color: white;
      font-weight: 600;
      height: 0;
      padding: 0;
      overflow: hidden;
      text-align: center;
      word-break: keep-all; }
  .topMovies .topMovieCard:hover,
  .forYourMovies .topMovieCard:hover {
    scale: 1.05;
    transition: 1s; }
    .topMovies .topMovieCard:hover .movieInfo,
    .forYourMovies .topMovieCard:hover .movieInfo {
      height: 100%;
      width: 100%;
      background-color: #e5091483;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: 1s; }
      .topMovies .topMovieCard:hover .movieInfo p,
      .forYourMovies .topMovieCard:hover .movieInfo p {
        font-size: 12px; }
      .topMovies .topMovieCard:hover .movieInfo span,
      .forYourMovies .topMovieCard:hover .movieInfo span {
        font-size: 10px; }

.forYourMovies .forYourMovieCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; }

.forYourMovies .button {
  display: flex;
  justify-content: center;
  padding: 20px; }
  .forYourMovies .button button {
    padding: 10px 15px;
    outline: none;
    border: none;
    color: white;
    background: #E50914;
    cursor: pointer; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 10px;
  background: #111111;
  color: gray;
  font-size: 12px; }
  .footer .icons {
    font-size: 19px;
    display: flex;
    gap: 10px; }
    .footer .icons i {
      cursor: pointer; }
    .footer .icons i:hover {
      color: #E50914;
      transition: 1s; }
  .footer .navbar {
    display: flex;
    width: 70%;
    justify-content: space-around; }
    .footer .navbar .column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px; }
      .footer .navbar .column p {
        cursor: pointer; }
      .footer .navbar .column p:hover {
        color: #E50914;
        transition: 1s; }
  .footer .copyright {
    width: 100%;
    text-align: center; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 6;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  transition: opacity 2s linear; }
  .modal .modalHeader {
    width: 60%;
    height: 300px;
    overflow: hidden;
    position: relative;
    overflow: hidden; }
    .modal .modalHeader img {
      width: 100%;
      height: auto;
      object-fit: contain; }
    .modal .modalHeader .image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 180px;
      height: 250px;
      border: 1px solid white;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center; }
      .modal .modalHeader .image img {
        width: 100%;
        height: auto;
        object-fit: contain; }
    .modal .modalHeader .xButton {
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      background-color: #111111;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer; }
    .modal .modalHeader .buttons {
      position: absolute;
      bottom: 10px;
      left: 10px;
      display: flex;
      align-items: center;
      gap: 10px; }
      .modal .modalHeader .buttons .playButton {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px 15px;
        font-weight: 600;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 6px; }
      .modal .modalHeader .buttons .playButton:hover {
        background-color: gray; }
      .modal .modalHeader .buttons .iconButton {
        padding: 10px;
        cursor: pointer;
        background: none;
        border: 1px solid gray;
        width: 35 px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: 50%;
        outline: none; }
  .modal .modalBody {
    background-color: #111111;
    width: 60%;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    max-height: 250px;
    overflow-y: scroll; }
    .modal .modalBody .miniInfo {
      font-size: 16px;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 5px; }
      .modal .modalBody .miniInfo span {
        color: green; }
      .modal .modalBody .miniInfo p {
        border: 1px solid white;
        opacity: 0.8;
        border-radius: 1%; }
    .modal .modalBody .description {
      font-weight: 500;
      font-size: 16px; }
    .modal .modalBody .genres {
      opacity: 0.8; }
  .modal .modalBody::-webkit-scrollbar {
    display: none; }

.detailPage {
  background: url(../images/netflixBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; }
